h1{
    font-size: 6rem;
    font-weight: 600;
    margin: 0;
    color: #239de4;
}

h2{
    font-size: 4rem;
    font-weight: 500;
    font-family: "jost";
    text-align: center;
}

h3{
    font-size: 2rem;
    font-weight: 400;
}

p {
    font-size: 1.5rem;
    font-weight: 200;
}

/* navbar */

    nav {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        align-items: center;
    }

    #logo {
        width: 80px;
        height: 80px;
    }

    #logo img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    #menu {
        display: flex;
        align-items: center;
        gap: 20px;
        list-style: none;
        margin: 0;
        font-size: 1rem;
    }

    #menu a {
        text-decoration: none;
        color: #4c606b;
        transition: color 0.3s ease;
    }

    #menu a:hover {
        color: #239de4;
        border-bottom: solid 2px;
    }

    /* Hamburger menu */

    .hamburger {
        display: none;
        flex-direction: column;
        cursor: pointer;
        width: 30px;
    }

    .bar {
        height: 3px;
        width: 100%;
        background-color: #4c606b;
        margin: 4px 0;
        transition: 0.4s;
    }

/* Header */

    header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5%;
    }

    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
        align-items: flex-start;
    }

    .left h2{
        font-size: 3rem;
        font-weight: 600;
        font-family: "Inter Tight";
    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 40%;
        max-height: 600px;
    }

    .right img {
        width: 100%;
        height: auto;
        object-fit: cover;
        overflow: auto;
        object-position: top;
    }

    .button {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2%;
        text-decoration: none;
        font-size: 2rem;
    }

    .primary {
        background-color: #143b51;
        color: white;
    }

    .primary:hover{
        background-color: #3da7e4;
        color: #143b51;
    }

/* Skills */

    /* section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    } */

    .content-container {
        display: flex;
        padding: 10% 0;
        justify-content: center;
        gap: 3%;
        align-items: flex-start;
    }

    .card-skill{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        background: white;
        flex-direction: column;
    }

    .card-skill h2 {
        font-size: 3rem;
    }

    i {
        font-size: 6rem;
        color: #239de4;
    }

/* Projects */

    #projects-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1%;
        justify-content: center;
        align-items: flex-start;
    }

    .element{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
    }

    .card{
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden;
        margin-bottom: 8%;
    }
    
    .card:hover{
        
    }
    
    .card img{
        width: 100%;
        object-fit: cover;
    }
    
    .card .titles{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 16px;
    
    }
    
    .card h1, .card h2{
        margin: 0;
        text-transform: uppercase;
    }

/* Testimonials */

    #testimonial-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 2%;
    }

    .testimonials {
        display: flex;
        flex-direction: column;
        width: 33%;
        background-color: lightgray;
        padding: 1% 2%;
    }

    .avatar{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5%;
    }

    .avatar img{
        width: 6rem;
        height: 6rem;
        border-radius: 100%;
        object-fit: cover;
    }

    .titles h3 {
        margin: 1px;
        margin-bottom: 5%;
        font-size: 1.5rem;
    }

    .titles p {
        margin: 2px;
        font-size: 1rem;
    }

    .titles i {
        font-size: 1rem;
    }

    .comment {
        font-size: 1.7rem;
    }

/* Footer */

    footer{
        padding: 0% 0 3% 0;
    }

    #contact {
        display: flex;
        width: 100%;
        padding: 3% 0;
        align-items: center;
        gap: 3%;
    }

    #contact h2 {
        margin: 0;
    }

    #social-networks {
        width: 100%;
        gap: 2%;
        display: flex;
        justify-items: center;
        align-items: center;
        justify-content: center;
    }

    #social-networks i {
        font-size: 1.5rem;
    }

    #social-networks a {
        color: #143b51;
    }